<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DroneVue</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="container-fluid">
    <div id="app">
        <h1>DroneVue Dashboard</h1>

        <div class="dashboard">
            <h3>Drone Network ({{ drones.length }}) <button class="btn" v-bind:class="simulationStyle()" v-on:click="toggleSimulator">{{ simulationButtonText() }}</button></h3>
            <ul class="list-group">
                <drone-item v-for="d in drones" v-bind:drone="d" v-bind:key="d.id"></drone-item>
            </ul>
        </div>

        <div class="legend">
                <h3>Legend</h3>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success"><div class="row">
                        <div class="col-sm-1"><i class="fa fa-signal"></i></div>
                        <div class="col-sm-3">Healthy Drone</div>
                        <div class="col-sm-4">(lat, lng)</div>
                        <div class="col-sm-4">Speed (kph)</div>
                    </div></li>
            
                    <li class="list-group-item list-group-item-warning"><div class="row">
                        <div class="col-sm-1"><i class="fa fa-exclamation-circle"></i></div>
                        <div class="col-sm-3">Missing Drone</div>
                        <div class="col-sm-4">(lat, lng)</div>
                        <div class="col-sm-4">Speed (kph)</div>
                    </div></li>
                </ul>
            </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./simulate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>